body {
	background-image: url('bkgrd.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center;
	max-width: 140ch;
	margin: 1rem auto;
}

.box2 {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
}

nav {
	color: white;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	font-family: Ludica Sans Typewriter;
	font-size: 18px;
}

*{
	margin: 0;
	padding: 0;
}

b {
	color: white;
	font-family: Lucida Sans Typewriter;
	font-size: 18;
}

i {
	color: white;
	font-family: Lucida Sans Typewriter;
	font-size: 18;
}

a:link, a:visited{
	color: white;;
	text-align: center;
	font-family: Ludica Sans Typewriter;
	font-size: 18px;
}

a:hover {
	color : 5F6A54;
	font-family: Lucida Sans Typewriter;
	font-size: 22px;
}

h1 {
	color: white;
	text-align: center;

}

h2 {
	color: white;
	font-size: 24;
	text-align: left;

}

h3 {
	color: white;
	font-size: 20;
	text-align: left;

}

h4 {
	color: white;
	font-size: 24;
	text-align: left;
}

p {
	color: white;
	text-align: center;

	font-family: Lucida Sans Typewriter;	
	font-size: 16px;
	background-color: rbga(0,0,0,.5);
}

hr {
	border: 0;
	border-bottom: 2px dashed;
	color: white;
}
ul li {
	background: #929E86;
	list-style-position: inside;
	padding: 10px;
	margin-right: 10px;
	color: white;
}

th {
	border: 1px solid white;
	border-spacing: 10px;
	border-collapse: separate;
	color: white;
	margin-right: 15px;
	background-color: rbga(0,0,0,.5);
	font-size: 24px;
}



td, tr {
	border: 1px solid white;
	border-spacing: 10px;
	border-collapse: separate;
	color: white;
	margin-right: auto;
	margin-left: auto;
	background-color: rbga(0,0,0,.5);
}

