<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
	
	<title>MTG Card Collection</title>
	<hr>
	<nav>
		
		<a href="./collection">[view collection]</a>
		<a href="./search">[search cards]</a>
		<a href="./decks">[view decks]</a>
		<a href="./">[home]</a>
		
	</nav>
	<hr>
	<div class="box box2">

	<br>
	<h1>Collection</h1>

	<table>
		<th>Set Name</th>
		<th>Number Owned</th>
		<th>Total in Set</th>
		<th>Completed</th>
		{% for row in rows %}
	 		<tr>
	    		<td><a href='collection_specific/{{ row.setcode }}'>{{ row.setcode }}</a></td>
	    		<td>{{ row.count }}</td>
	    		<td>{{ row.total }}</td>
	    		<td>{{ row.ratio }}</td>
	  		</tr> 
	  	{% endfor %}
	</table>

	<br>

	</div>
	<hr>

</body>
</html>