<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'	 %}" />
</head>
<body>
	<div class="container"></div>
	<title>MTG Card Collection</title>
	<hr>
	<nav>
		
		<a href="./collection">[view collection]</a>
		<a href="./search">[search cards]</a>
		<a href="./decks">[view decks]</a>
		<a href="./">[home]</a>
		
	</nav>
	<hr>
	<table>
	  {% for card in collection %}
	  <tr>
	    <th> {{ card[0] }}</th>
	  </tr> 
	  {% endfor %}
	</table>

	

</body>
</html>